@charset "utf-8";
@import "reset";
@import "fonts";

@function rem($px) {
	$result: $px / 48;
	@return $result + rem;
}

@function pxToVw($value, $dimension) {
	@return $value * 100 / $dimension + vw;
}

html {
	font-size: pxToVw(16, 360);
}

body {
	font-family: "Rubik", "Arial", sans-serif;
	margin: 0 auto;
	height: 100vh;

	overflow: hidden;
}

.card {
	background: linear-gradient(340deg, #1addba 13.77%, #00c1aa 66.03%);
	color: #fff;
	height: 100vh;
	padding: 15vh rem(80) 0;
	margin: 0 auto;
	position: relative;
	z-index: 1;
	display: flex;
	flex-direction: column;

	overflow: hidden;
	&::before {
		content: "";
		position: absolute;
		top: rem(-400);
		right: rem(-563);
		width: rem(1021);
		height: rem(1021);
		border-radius: 50%;
		background: #64fdb4;
		filter: blur(rem(200));
		z-index: -1;
	}
	&::after {
		content: "";
		position: absolute;
		bottom: 0;
		left: 60%;
		transform: translateX(-50%);
		height: 50vh;

		width: rem(1700);
		opacity: 0.2;
		background-repeat: no-repeat;
		background-position: center calc(100% + 5rem);
		background-size: contain;
		background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1103' height='1140' viewBox='0 0 1103 1140' fill='none'%3E%3Cpath d='M1093.82 639.705C1092.84 662.069 1083.03 683.13 1066.53 698.257L693.027 1041.81C556.905 1166.1 363.794 1181.77 195.231 1031.69C132.198 975.565 -61.0395 739.629 19.3356 300.435C29.3105 245.929 70.7595 207.633 123.088 209.783C134.639 210.132 146.003 212.786 156.513 217.589C167.024 222.392 176.468 229.246 184.293 237.75C200.839 255.758 210.048 280.851 208.863 308.228C208.863 308.228 205.912 375.981 204.331 412.322C203.614 428.795 207.07 438.387 211.771 443.503C218.025 450.309 225.324 450.252 230.272 445.705L690.59 22.736C698.742 15.2265 708.294 9.39618 718.699 5.57795C729.104 1.75974 740.16 0.0283699 751.235 0.482777C762.309 0.937184 773.186 3.56841 783.243 8.22627C793.301 12.8841 802.343 19.4774 809.852 27.6296C838.752 59.0916 842.737 110.836 812.481 138.636C812.385 138.759 583.845 348.435 527.627 400.026C527.505 400.127 527.372 400.199 527.252 400.309L505.342 420.441C504.011 421.661 502.933 423.13 502.171 424.766C501.408 426.402 500.975 428.172 500.896 429.976C500.818 431.779 501.095 433.58 501.713 435.276C502.33 436.972 503.281 438.535 504.5 439.866C506.971 442.544 510.404 444.131 514.044 444.28C517.685 444.428 521.236 443.124 523.916 440.655L943.971 54.6824C960.557 39.6936 982.419 31.9079 1004.75 33.0377C1027.07 34.1676 1048.04 44.1205 1063.03 60.7071C1078.01 77.2937 1085.8 99.1553 1084.67 121.482C1083.54 143.81 1073.59 164.773 1057 179.762L635.656 567.017C634.328 568.213 633.25 569.659 632.485 571.274C631.72 572.888 631.282 574.638 631.198 576.423C631.113 578.207 631.383 579.991 631.992 581.67C632.601 583.35 633.537 584.892 634.746 586.208C635.955 587.523 637.412 588.586 639.034 589.335C640.657 590.083 642.411 590.503 644.196 590.569C645.982 590.635 647.762 590.347 649.436 589.721C651.109 589.095 652.641 588.143 653.944 586.921L970.544 295.993C1001.84 267.237 1051.53 277.499 1080.2 308.701C1087.68 316.867 1093.48 326.428 1097.27 336.838C1101.05 347.247 1102.74 358.3 1102.25 369.364C1101.76 380.429 1099.09 391.287 1094.39 401.319C1089.7 411.351 1083.08 420.359 1074.9 427.829L761.024 716.228C759.749 717.396 758.717 718.804 757.987 720.372C757.256 721.939 756.842 723.634 756.767 725.362C756.691 727.089 756.957 728.815 757.549 730.439C758.141 732.064 759.046 733.556 760.215 734.831C765.132 740.182 776.113 738.321 781.478 733.392L965.457 564.279C993.919 538.125 1043.96 548.803 1071.71 579.005C1086.84 595.507 1094.79 617.341 1093.82 639.705Z' fill='%23C9FFD8'/%3E%3C/svg%3E");
		z-index: -1;
	}
	&.card-orange {
		background: linear-gradient(160deg, #f38c60 16.22%, #f4c175 83.93%);
		&::before {
			background: #fdc964;
		}
		&::after {
			width: 100%;
			background-position: center bottom;
			background-size: 100% auto;
			left: 50%;
			background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1022' height='781' viewBox='0 0 1022 781' fill='none'%3E%3Cpath d='M1093.81 639.705C1092.84 662.069 1083.02 683.13 1066.52 698.257L693.025 1041.81C556.904 1166.1 363.792 1181.77 195.229 1031.69C132.196 975.565 -61.0412 739.629 19.3339 300.435C29.3088 245.929 70.7578 207.633 123.087 209.783C134.637 210.132 146.001 212.786 156.512 217.589C167.022 222.392 176.467 229.246 184.291 237.75C200.838 255.758 210.046 280.851 208.861 308.228C208.861 308.228 205.911 375.981 204.33 412.322C203.612 428.795 207.068 438.387 211.769 443.503C218.023 450.309 225.322 450.252 230.27 445.705L690.588 22.736C698.74 15.2265 708.292 9.39618 718.697 5.57795C729.103 1.75974 740.158 0.0283699 751.233 0.482777C762.307 0.937184 773.184 3.56841 783.242 8.22627C793.299 12.8841 802.341 19.4774 809.85 27.6296C838.75 59.0916 842.735 110.836 812.48 138.636C812.384 138.759 583.844 348.435 527.625 400.026C527.503 400.127 527.37 400.199 527.25 400.309L505.34 420.441C504.009 421.661 502.932 423.13 502.169 424.766C501.406 426.402 500.973 428.172 500.895 429.976C500.816 431.779 501.093 433.58 501.711 435.276C502.328 436.972 503.279 438.535 504.499 439.866C506.969 442.544 510.402 444.131 514.043 444.28C517.683 444.428 521.234 443.124 523.914 440.655L943.969 54.6824C960.555 39.6936 982.417 31.9079 1004.74 33.0377C1027.07 34.1676 1048.04 44.1205 1063.02 60.7071C1078.01 77.2937 1085.8 99.1553 1084.67 121.482C1083.54 143.81 1073.59 164.773 1057 179.762L635.654 567.017C634.326 568.213 633.249 569.659 632.483 571.274C631.718 572.888 631.281 574.638 631.196 576.423C631.111 578.207 631.381 579.991 631.99 581.67C632.599 583.35 633.535 584.892 634.744 586.208C635.953 587.523 637.411 588.586 639.033 589.335C640.655 590.083 642.409 590.503 644.195 590.569C645.98 590.635 647.761 590.347 649.434 589.721C651.107 589.095 652.64 588.143 653.943 586.921L970.542 295.993C1001.84 267.237 1051.53 277.499 1080.2 308.701C1087.68 316.867 1093.48 326.428 1097.26 336.838C1101.05 347.247 1102.74 358.3 1102.25 369.364C1101.76 380.429 1099.09 391.287 1094.39 401.319C1089.7 411.351 1083.08 420.359 1074.9 427.829L761.022 716.228C759.747 717.396 758.715 718.804 757.985 720.372C757.255 721.939 756.84 723.634 756.765 725.362C756.69 727.089 756.956 728.815 757.547 730.439C758.139 732.064 759.045 733.556 760.213 734.831C765.131 740.182 776.112 738.321 781.476 733.392L965.455 564.279C993.918 538.125 1043.96 548.803 1071.71 579.005C1086.83 595.507 1094.79 617.341 1093.81 639.705Z' fill='url(%23paint0_linear_8475_15396)'/%3E%3Cdefs%3E%3ClinearGradient id='paint0_linear_8475_15396' x1='693.426' y1='-47.7373' x2='568.597' y2='1138.96' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='white'/%3E%3Cstop offset='1' stop-color='white'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E");
		}
	}
	&.card-red {
		background: linear-gradient(159deg, #e4574e 11.66%, #f38360 47.1%);
		&::before {
			background: #fb6666;
		}
		&::after {
			width: 100%;
			background-position: center bottom;
			background-size: 100% auto;
			left: 50%;
			opacity: 1;
			background-image: url("data:image/svg+xml,%3Csvg width='1080' height='1219' viewBox='0 0 1080 1219' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg opacity='0.2'%3E%3Cpath d='M1151.81 1077.71C1150.84 1100.08 1141.02 1121.14 1124.52 1136.26L751.025 1479.82C614.904 1604.11 421.792 1619.77 253.229 1469.69C190.196 1413.57 -3.04117 1177.64 77.3339 738.443C87.3088 683.937 128.758 645.641 181.087 647.791C192.637 648.14 204.001 650.794 214.512 655.597C225.022 660.4 234.467 667.254 242.291 675.758C258.838 693.766 268.046 718.859 266.861 746.235C266.861 746.235 263.911 813.989 262.33 850.33C261.612 866.802 265.068 876.395 269.769 881.511C276.023 888.317 283.322 888.26 288.27 883.713L748.588 460.744C756.74 453.234 766.292 447.404 776.697 443.586C787.103 439.768 798.158 438.036 809.233 438.491C820.307 438.945 831.184 441.576 841.242 446.234C851.299 450.892 860.341 457.485 867.85 465.637C896.75 497.099 900.735 548.843 870.48 576.644C870.384 576.767 641.844 786.443 585.625 838.034C585.503 838.135 585.37 838.207 585.25 838.317L563.34 858.449C562.009 859.669 560.932 861.138 560.169 862.774C559.406 864.41 558.973 866.18 558.895 867.984C558.816 869.787 559.093 871.588 559.711 873.284C560.328 874.98 561.279 876.543 562.499 877.874C564.969 880.552 568.402 882.139 572.043 882.287C575.683 882.435 579.234 881.132 581.914 878.663L1001.97 492.69C1018.56 477.701 1040.42 469.916 1062.74 471.046C1085.07 472.175 1106.04 482.128 1121.02 498.715C1136.01 515.302 1143.8 537.163 1142.67 559.49C1141.54 581.817 1131.59 602.781 1115 617.77L693.654 1005.03C692.326 1006.22 691.249 1007.67 690.483 1009.28C689.718 1010.9 689.281 1012.65 689.196 1014.43C689.111 1016.21 689.381 1018 689.99 1019.68C690.599 1021.36 691.535 1022.9 692.744 1024.22C693.953 1025.53 695.411 1026.59 697.033 1027.34C698.655 1028.09 700.409 1028.51 702.195 1028.58C703.98 1028.64 705.761 1028.36 707.434 1027.73C709.107 1027.1 710.64 1026.15 711.943 1024.93L1028.54 734.001C1059.84 705.245 1109.53 715.506 1138.2 746.709C1145.68 754.875 1151.48 764.436 1155.26 774.845C1159.05 785.255 1160.74 796.308 1160.25 807.372C1159.76 818.436 1157.09 829.295 1152.39 839.327C1147.7 849.359 1141.08 858.367 1132.9 865.837L819.022 1154.24C817.747 1155.4 816.715 1156.81 815.985 1158.38C815.255 1159.95 814.84 1161.64 814.765 1163.37C814.69 1165.1 814.956 1166.82 815.547 1168.45C816.139 1170.07 817.045 1171.56 818.213 1172.84C823.131 1178.19 834.112 1176.33 839.476 1171.4L1023.45 1002.29C1051.92 976.133 1101.96 986.811 1129.71 1017.01C1144.83 1033.51 1152.79 1055.35 1151.81 1077.71Z' fill='url(%23paint0_linear_8475_15395)'/%3E%3Cpath d='M456.544 1448.09C429.044 1462.74 371.781 1468.57 343.211 1441.43C301.112 1401.43 318.371 1316.59 372 1252.66C436.242 1176.07 508.974 1173.44 500.724 1158.41C488.492 1149.65 413.699 1165.8 345.989 1229.55C285.968 1286.06 224.561 1437.46 352.209 1529.63C400.747 1560.7 415.29 1563.29 458.556 1574.25C501.822 1585.21 347.809 1552.51 299.929 1517.37C299.929 1517.37 116.503 1447.96 156.293 1352.21C152.22 1346.32 149.833 1339.87 166.385 1361.79C178.698 1385.31 214.308 1433.53 215.863 1418.88L210.095 1403.46C200.666 1387.65 195.918 1365.14 194.378 1356.25C187.391 1315.95 194.595 1283.73 197.271 1267.14C203.965 1225.64 243.232 1155.04 310.563 1108.91C392.295 1052.91 490.313 1041.42 552.255 1049.69C571.951 1052.32 586.273 1055.45 596.496 1058.41C612.078 1062.92 620.266 1076.85 619.557 1093.06C616.89 1154.02 593.197 1270.59 558.735 1339.3C530.622 1395.36 484.044 1433.45 456.544 1448.09Z' fill='%23F17F5E'/%3E%3C/g%3E%3Cdefs%3E%3ClinearGradient id='paint0_linear_8475_15395' x1='751.426' y1='390.271' x2='626.597' y2='1576.97' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='white'/%3E%3Cstop offset='1' stop-color='white'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E%0A");
		}
	}
	&.card-white {
		color: #333435;
		padding: 12vh rem(48) 0;
		background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='734' height='256' viewBox='0 0 734 256' fill='none'%3E%3Cpath d='M8.03529 12.3518C-19.8038 110.323 55.4473 143.317 105.9 130.671C211.773 104.133 304.683 -78.8808 399.059 -67.0066C507.618 -53.348 576.087 441.984 848.249 173.742' stroke='%23333435' stroke-width='4'/%3E%3C/svg%3E")
				100% 0 / rem(734) auto no-repeat,
			url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='730' height='701' viewBox='0 0 730 701' fill='none'%3E%3Cpath d='M1112.5 607.5C1112.5 932.796 853.796 297 528.5 297C203.204 297 0.535156 65.7957 0.535156 -259.5C0.535156 -584.796 264.239 -848.5 589.535 -848.5C914.831 -848.5 1112.5 282.204 1112.5 607.5Z' fill='%2300D9B2'/%3E%3C/svg%3E")
				100% 0 / rem(730) auto no-repeat,
			url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='729' height='498' viewBox='0 0 729 498' fill='none'%3E%3Cpath d='M729 -58C729 399.568 653.068 498 195.5 498C-262.068 498 -633 127.068 -633 -330.5C-633 -788.068 -262.068 -1159 195.5 -1159C653.068 -1159 729 -515.568 729 -58Z' fill='%23F7F6F5'/%3E%3C/svg%3E")
				0 0 / rem(729) auto no-repeat,
			url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='777' height='738' viewBox='0 0 777 738' fill='none'%3E%3Cpath d='M966.165 1.00178C969.181 48.0793 967.791 185.108 859.295 297.852C723.675 438.783 669.624 449.714 670.742 506.223C671.859 562.732 727.574 663.26 515.1 701.139C302.626 739.018 454.764 655.914 474.68 709.023C505.468 791.124 218.581 660.127 2.31531 917.289' stroke='%23333435' stroke-width='4'/%3E%3C/svg%3E")
				100% 100% / rem(777) auto no-repeat,
			url("data:image/svg+xml,%3Csvg width='271' height='240' viewBox='0 0 271 240' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4.3754 267.411C-3.45553 283.785 -20.986 278.534 -25.8803 276.754C-29.5881 275.42 -36.3809 270.526 -33.8892 261.626C-30.7746 250.502 -25.8803 242.494 -7.63782 231.815C10.6047 221.137 14.1641 246.944 4.3754 267.411Z' fill='%23F4F3F1'/%3E%3Cpath d='M201.749 95.8836C195.589 108.793 181.799 104.653 177.95 103.25C175.033 102.198 169.69 98.339 171.65 91.3225C174.1 82.552 177.95 76.238 192.299 67.8187C206.649 59.3995 209.448 79.7466 201.749 95.8836Z' fill='%23F4F3F1'/%3E%3Cpath d='M138.567 30.032C132.407 42.9416 118.618 38.8015 114.768 37.3983C111.852 36.346 106.508 32.4874 108.468 25.471C110.918 16.7004 114.768 10.3864 129.118 1.96717C143.467 -6.4521 146.267 13.8951 138.567 30.032Z' fill='%23F4F3F1'/%3E%3Cpath d='M76.9795 100.311C76.6279 114.611 62.3499 116.462 58.2626 116.753C55.1706 116.984 48.7176 115.643 47.6418 108.438C46.2969 99.4315 47.2331 92.0959 56.8941 78.5513C66.5551 65.0066 77.4191 82.4371 76.9795 100.311Z' fill='%23F4F3F1'/%3E%3Cpath d='M137.059 197.38C129.228 213.754 111.698 208.503 106.803 206.723C103.095 205.388 96.3027 200.494 98.7944 191.595C101.909 180.471 106.803 172.463 125.046 161.784C143.288 151.106 146.848 176.913 137.059 197.38Z' fill='%23F4F3F1'/%3E%3Cpath d='M252.617 223.311C243.275 225.325 239.815 216.333 238.979 213.721C238.341 211.747 238.191 207.342 242.699 205.513C248.335 203.227 253.247 202.685 263.57 206.842C273.894 210.999 264.293 220.795 252.617 223.311Z' fill='%23F4F3F1'/%3E%3Cpath d='M-4.87586 147.061C-2.84769 156.399 -11.8341 159.873 -14.4443 160.713C-16.4173 161.355 -20.8223 161.512 -22.6586 157.006C-24.9539 151.374 -25.5032 146.463 -21.3625 136.133C-17.2219 125.803 -7.41108 135.388 -4.87586 147.061Z' fill='%23F4F3F1'/%3E%3C/svg%3E%0A")
				0 100% / rem(271) auto no-repeat,
			url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='732' height='557' viewBox='0 0 732 557' fill='none'%3E%3Cpath d='M-61.4994 698C-180.003 642.823 -140.308 565.978 -188.598 316.39C-188.478 193.213 -182.837 109.614 -107.093 31.9957C10.6121 -88.6218 110.499 171.28 295.274 170.081C615.371 168.004 813.153 484.387 698.714 681.55C637.167 787.589 86.6302 766.971 -61.4994 698Z' fill='%23F4C175'/%3E%3C/svg%3E")
				0 100% / rem(732) auto no-repeat,
			#fff;
		&::before {
			display: none;
		}
		&::after {
			display: none;
		}
	}
	// .card__header
	&__header {
		display: flex;
		align-items: flex-start;
	}
	// .card__header-info
	&__header-info {
		&:last-child {
			.card__subtitle {
				max-width: rem(760);
			}
		}
	}
	&__header-image {
		margin-top: -2rem;
		flex-shrink: 0;
		max-width: rem(331);
		width: 100%;
		& svg {
			width: 100%;
			height: auto;
		}
		&.image-lg {
			max-width: rem(503);
			margin-top: -1rem;
			margin-right: -1.35rem;
		}
	}
	// .card__title
	&__title {
		font-size: rem(72);
		font-weight: 500;
		line-height: 130%;
		max-width: rem(750);
		position: relative;
	}
	&__title-decor {
		position: absolute;
		top: rem(-80);
		right: rem(120);
		max-width: rem(197);
		& svg {
			width: rem(209);
			height: rem(133);
		}
		&.offset-decor {
			top: rem(-230);
			right: rem(-75);
			& svg {
				width: rem(310);
				height: rem(305);
			}
		}
		&.top-decor {
			top: rem(-170);
			right: 60%;
			& svg {
				width: rem(100);
				height: rem(104);
			}
		}
	}
	// .card__subtitle
	&__subtitle {
		margin-top: rem(24);
		font-size: rem(40);
		line-height: 130%;
		max-width: rem(666);
		& br {
			content: "";
			display: block;
			margin-bottom: 0.85rem;
		}
		&.full-width {
			max-width: none !important;
			margin-right: rem(-30);

			& img {
				max-width: rem(164);
				vertical-align: middle;
			}
			& p {
				&:not(:last-child) {
					margin-bottom: rem(20);
				}
			}
		}
	}
	// .card__body
	&__body {
		margin-top: rem(87);
		position: relative;
		z-index: 2;
	}
	// .card__caption
	&__caption {
		font-size: rem(40);
		font-weight: 500;
		line-height: 130%;
	}
	// .card__info
	&__info {
		position: relative;
		z-index: 2;
		margin-top: rem(30);
		font-size: rem(40);
		padding-left: 1rem;
		line-height: 130%;
		max-width: 15rem;
		border-left: rem(6) solid #fff;
		& br {
			content: "";
			display: block;
			margin-bottom: 0.5rem;
		}
		& img {
			width: rem(50);
			vertical-align: middle;
		}
	}
	// .card__list
	&__list {
		margin-top: rem(22);
		font-size: rem(40);
		line-height: 130%;
		font-weight: 400;
		max-width: rem(450);
		padding: 0;
		list-style: none;
		& li {
			display: flex;
			align-items: flex-start;
			&:not(:last-child) {
				margin-bottom: rem(28);
			}
			&::before {
				content: "";
				background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='23' height='22' viewBox='0 0 23 22' fill='none'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M19.7448 4.44081C21.765 6.84852 22.9076 9.97793 22.129 13.23C21.3359 16.5431 18.9643 19.5436 15.776 21.0189C12.7904 22.4004 9.62345 21.5393 6.82806 20.3101C4.14846 19.1319 1.65934 17.3844 1.01219 14.5272C0.354165 11.6219 1.65035 8.55445 3.58474 5.9905C5.60337 3.31489 8.28235 0.903483 11.5253 0.592493C14.8542 0.273262 17.7326 2.04268 19.7448 4.44081Z' fill='white'/%3E%3C/svg%3E");
				background-size: contain;
				background-repeat: no-repeat;
				background-position: center;
				width: rem(21);
				height: rem(21);
				margin-top: rem(14);
				margin-right: rem(26);
				flex-shrink: 0;
			}
		}
		&:is(ol) {
			max-width: none;
			margin-right: rem(-20);
			& li {
				display: block;
				& strong {
					font-weight: 600;
				}
				&::before {
					display: none;
				}
			}
		}
	}
	// .card__order
	&__order {
		margin-top: rem(20);
		max-width: rem(738);
		margin-left: auto;
		& img {
			max-width: 100%;
			width: 100%;
		}
	}
	// .card__image
	&__image {
		position: relative;
		z-index: 1;
		margin-top: -1.5rem;
		margin-left: -0.75rem;
		margin-right: -1rem;
		&.lg-offset {
			margin-left: -1.5rem;
			margin-right: -1.5rem;
			margin-top: -5.75rem;
		}
		&.xl-offset {
			margin-top: -1rem;
		}
		& img {
			max-width: 100%;
		}
	}
	// .card__partner
	&__partner {
		display: flex;
		flex-direction: column;
	}
	// .card__partner-title
	&__partner-title {
		font-size: rem(60);
		line-height: 140%;
		max-width: rem(798);
	}
	// .card__partner-logo
	&__partner-logo {
		margin-top: rem(34);
		margin-left: auto;
		margin-right: rem(20);
		& img {
			max-width: rem(495);
		}
	}
	// .card__partner-messages
	&__partner-messages {
		margin-top: rem(45);
	}
	// .card__partner-message
	&__partner-message {
		font-size: rem(51);
		line-height: 140%;
		display: flex;
		align-items: center;
		gap: rem(40);
		&:nth-child(1) {
			width: rem(761);
			height: rem(323);
			margin-left: rem(-30);
			padding-left: rem(80);
			background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='761' height='323' viewBox='0 0 761 323' fill='none'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M334.883 16.4632C450.653 7.87993 589.146 -14.5567 670.955 17.4633C754.298 50.0833 775.079 129.908 751.919 179.689C730.232 226.305 636.861 259.772 540.258 286.09C447.656 311.318 341.886 330.267 241.712 318.689C139.852 306.915 74.6315 269.727 38.2076 228.061C0.197354 184.58 -21.7505 115.484 37.786 73.021C98.9005 29.4325 219.574 25.0123 334.883 16.4632Z' fill='%23FDCF8A'/%3E%3C/svg%3E")
				center / cover no-repeat;
			.card__partner-icon {
				width: rem(133);
			}
			.card__partner-text {
				width: rem(538.947);
				transform: rotate(-3.582deg);
				padding-bottom: rem(15);
			}
		}
		&:nth-child(2) {
			margin-top: rem(-30);
			margin-right: rem(-20);
			padding-left: rem(68);
			margin-left: auto;
			width: rem(788.997);
			height: rem(320.998);
			gap: rem(30);
			background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='789' height='306' viewBox='0 0 789 306' fill='none'%3E%3Cpath d='M298.794 22.1083C412.232 23.1069 598.367 -53.658 754.265 75.0213C787.506 107 798.972 167.029 778.606 223.594C741.24 327.376 595.275 257.1 449.595 291.299C301.257 326.121 -40.4167 310.318 4.65144 101.734C34.6965 -37.3201 156.998 20.86 298.794 22.1083Z' fill='%2300D9B2'/%3E%3C/svg%3E")
				center / rem(789) rem(306) no-repeat;
			position: relative;
			&::before {
				content: "";
				position: absolute;
				right: 102%;

				top: rem(120);
				width: rem(177);
				height: rem(304);
				background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='177' height='304' viewBox='0 0 177 304' fill='none'%3E%3Cpath d='M3.51524 266.639C14.25 277.678 28.97 292.216 40.9617 301.103M40.9617 301.103C42.3431 302.127 45.1372 289.4 45.2203 288.797C47.0562 275.579 47.2542 262.363 47.1944 248.866M40.9617 301.103C-5.06104 229.352 -3.29677 143.821 35.4166 104.568C39.2535 100.677 43.4337 96.4476 47.965 92.6801M47.965 92.6801C55.1813 86.6802 63.2883 81.8523 72.3181 81.4329C80.6517 81.0462 91.9305 84.4649 97.1305 92.7499C106.844 108.227 94.6716 127.133 78.8618 125.512C64.9687 124.087 49.4421 107.936 47.965 92.6801ZM47.965 92.6801C47.9339 92.3583 47.909 92.0369 47.8905 91.716C43.4244 14.274 119.735 -12.3641 173.984 12.0016' stroke='%23333435' stroke-width='5.09471' stroke-miterlimit='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E")
					center / cover no-repeat;
			}
			.card__partner-icon {
				width: rem(119);
			}
			.card__partner-text {
				width: rem(507);
				transform: rotate(2.5deg);
			}
		}
	}
	// .card__partner-icon
	&__partner-icon {
		& img {
			max-width: 100%;
		}
	}
	// .card__partner-text
	&__partner-text {
	}
	// .card__partner-image
	&__partner-image {
		margin-top: rem(100);
		max-width: rem(830);
		margin-left: auto;
		margin-right: auto;
		& img {
			max-width: 100%;
		}
	}
	// .card__cdek-image
	&__cdek-image {
		margin-top: rem(12);
		max-width: rem(796);
		margin-left: auto;
		margin-right: rem(-50);
		& img {
			max-width: 100%;
		}
		&.center-image {
			margin-left: auto;
			margin-right: auto;
			&::before {
				display: none;
			}
			& + .card__list {
				margin-top: rem(10);
			}
		}
		position: relative;
		&::before {
			content: "";
			position: absolute;
			width: rem(125);
			height: rem(105);
			transform: rotate(-8.006deg);
			top: rem(-33);
			left: rem(-84);
			background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='125' height='105' viewBox='0 0 125 105' fill='none'%3E%3Cpath d='M95.6037 67.4163C104.637 79.5247 115.147 81.4587 112.409 82.2686C103.625 84.8671 95.7331 86.4383 87.9158 90.2798' stroke='%23333435' stroke-width='6' stroke-linecap='round'/%3E%3Cpath d='M12.6126 14.0156C20.4699 38.4331 38.8114 53.195 54.6489 62.4049C72.5379 72.8077 91.3398 80.8434 110.873 81.6884' stroke='%23333435' stroke-width='6' stroke-linecap='round'/%3E%3C/svg%3E")
				center / cover no-repeat;
		}
	}
}
